# Pycharm
.idea/

# Python stuff
*.py[cod]

# Pyinstaller
build/
dist/
*.spec

#Sublime Stuff
*.sublime-project
*.sublime-workspace

# Log
dwt.log

# Resource Files
dwt.res

# Other
getapps.py
getreleases.py
